-- ========================================
--  TẠO CƠ SỞ DỮ LIỆU MẪU CHO SINH VIÊN
--  Tên CSDL : sinhvien
--  Môn học  : Lập trình ứng dụng
--  Giảng viên: Nguyễn Thái Hà
--  Mục đích : Dùng chung cấu trúc để làm bài tập & kiểm tra ứng dụng
-- ========================================

SET NOCOUNT ON;
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
GO

-- =====================
--  XÓA DATABASE CŨ (NẾU CÓ)
-- =====================
USE master;
GO

IF DB_ID('sinhvien') IS NOT NULL
BEGIN
    ALTER DATABASE sinhvien SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE sinhvien;
END
GO

-- =====================
--  TẠO DATABASE MỚI
-- =====================
CREATE DATABASE sinhvien;
GO

USE sinhvien;
GO

-- =====================
--  XÓA BẢNG CŨ (NẾU CÓ)
-- =====================
IF OBJECT_ID('dbo.DiemThi', 'U') IS NOT NULL DROP TABLE dbo.DiemThi;
IF OBJECT_ID('dbo.MonHoc', 'U') IS NOT NULL DROP TABLE dbo.MonHoc;
IF OBJECT_ID('dbo.SinhVien', 'U') IS NOT NULL DROP TABLE dbo.SinhVien;
IF OBJECT_ID('dbo.[User]', 'U') IS NOT NULL DROP TABLE dbo.[User];
GO

-- =====================
--  BẢNG: SinhVien
-- =====================
CREATE TABLE SinhVien (
    MaSV nchar(10) NOT NULL PRIMARY KEY,
    HoTen nvarchar(50) NOT NULL,
    NamSinh int CHECK (NamSinh BETWEEN 1980 AND 2025),
    Lop nvarchar(20),
    Anh nvarchar(255) DEFAULT N'/storage/DCIM/default.jpg'
);
GO

-- =====================
--  BẢNG: [User]
-- =====================
CREATE TABLE [User] (
    UserID int IDENTITY(1,1) PRIMARY KEY,
    UserName nvarchar(50) NOT NULL UNIQUE,
    PassWord nvarchar(20) NOT NULL,
    FullName nvarchar(50),
    [Type] nvarchar(10) CHECK ([Type] IN ('admin', 'user')),
    Lop nvarchar(20) NULL
);
GO

-- =====================
--  BẢNG: MonHoc
-- =====================
CREATE TABLE MonHoc (
    MaMH nchar(10) NOT NULL PRIMARY KEY,
    TenMon nvarchar(100) NOT NULL
);
GO

-- =====================
--  BẢNG: DiemThi
-- =====================
CREATE TABLE DiemThi (
    MaSV nchar(10) NOT NULL,
    MaMH nchar(10) NOT NULL,
    DiemLan1 decimal(4,2) NULL CHECK (DiemLan1 IS NULL OR (DiemLan1 >= 0 AND DiemLan1 <= 10)),
    DiemLan2 decimal(4,2) NULL CHECK (DiemLan2 IS NULL OR (DiemLan2 >= 0 AND DiemLan2 <= 10)),
    PRIMARY KEY (MaSV, MaMH),
    FOREIGN KEY (MaSV) REFERENCES SinhVien(MaSV) ON DELETE NO ACTION ON UPDATE CASCADE,
    FOREIGN KEY (MaMH) REFERENCES MonHoc(MaMH) ON DELETE NO ACTION ON UPDATE CASCADE
);
GO

-- =====================
--  NẠP DỮ LIỆU MẪU
-- =====================

-- Dữ liệu SinhVien
GO

-- Dữ liệu User
SET IDENTITY_INSERT [User] ON;
INSERT INTO [User] (UserID, UserName, PassWord, FullName, [Type], Lop) VALUES
(1, N'nguyenha',  N'1234', N'Nguyễn Thái Hà', N'admin', NULL),
(2, N'vietduong', N'1234', N'Dương Ngọc Việt', N'user', N'CNTT1'),
(3, N'leuy',      N'1234', N'Lê Văn Úy', N'user', N'CNTT2'),
(4, N'ducphuc',   N'1234', N'Đoàn Đức Phúc', N'user', N'ĐH1');
SET IDENTITY_INSERT [User] OFF;
GO

-- Dữ liệu MonHoc
INSERT INTO MonHoc (MaMH, TenMon) VALUES
(N'CSDL', N'Cơ sở dữ liệu'),
(N'LTUD', N'Lập trình ứng dụng'),
(N'CTDL', N'Cấu trúc dữ liệu'),
(N'MMT', N'Mạng máy tính'),
(N'LTTQ', N'Lập trình truyền thông'),
(N'KTLT', N'Kỹ thuật lập trình'),
(N'TRR', N'Toán rời rạc'),
(N'XSTK', N'Xác suất thống kê');
GO

-- Dữ liệu DiemThi
GO

-- =====================
--  KIỂM TRA SAU KHI IMPORT
-- =====================
USE sinhvien;

PRINT 'Cơ sở dữ liệu "sinhvien" đã tạo và nạp dữ liệu thành công.';
PRINT 'Bảng SinhVien: 10 bản ghi';
PRINT 'Bảng [User]: 4 bản ghi';
PRINT 'Bảng MonHoc: 8 bản ghi';
PRINT 'Bảng DiemThi: 22 bản ghi';
PRINT 'Kiểm tra nhanh: SELECT * FROM SinhVien; SELECT * FROM [User]; SELECT * FROM MonHoc; SELECT * FROM DiemThi;';
GO

-- =====================
--  TEST DỮ LIỆU
-- =====================
SELECT * FROM SinhVien;
SELECT * FROM [User];
SELECT * FROM MonHoc;
SELECT * FROM DiemThi;
GO

-- =====================
--  TEST QUERY LỌC ĐIỂM THI
-- =====================
-- Lọc theo lớp CNTT1
PRINT '=== Điểm thi lớp CNTT1 ===';
SELECT dt.MaSV, dt.MaMH, dt.DiemLan1, dt.DiemLan2, sv.HoTen, mh.TenMon
FROM DiemThi dt
INNER JOIN SinhVien sv ON dt.MaSV = sv.MaSV
INNER JOIN MonHoc mh ON dt.MaMH = mh.MaMH
WHERE sv.Lop = N'CNTT1';
GO

-- Lọc theo môn học CSDL
PRINT '=== Điểm thi môn CSDL ===';
SELECT dt.MaSV, dt.MaMH, dt.DiemLan1, dt.DiemLan2, sv.HoTen, mh.TenMon
FROM DiemThi dt
INNER JOIN SinhVien sv ON dt.MaSV = sv.MaSV
INNER JOIN MonHoc mh ON dt.MaMH = mh.MaMH
WHERE dt.MaMH = N'CSDL';
GO

-- Lọc theo lớp CNTT1 và môn CSDL
PRINT '=== Điểm thi lớp CNTT1, môn CSDL ===';
SELECT dt.MaSV, dt.MaMH, dt.DiemLan1, dt.DiemLan2, sv.HoTen, mh.TenMon
FROM DiemThi dt
INNER JOIN SinhVien sv ON dt.MaSV = sv.MaSV
INNER JOIN MonHoc mh ON dt.MaMH = mh.MaMH
WHERE sv.Lop = N'CNTT1' AND dt.MaMH = N'CSDL';
GO

